<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../common.css">
    <link rel="stylesheet" href="../../admin.css">
    <title>Creame Admin</title>
</head>

<body>
    <div id="wrap">
        <aside class="menu">
            <ul class="depth1">
                <li>
                    <a href="#" class="active">1depth</a>
                    <ul class="depth2">
                        <li>
                            <a href="#">2depth</a>
                        </li>
                        <li>
                            <a href="#" class="active">2depth</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">1depth</a>
                    <ul class="depth2">
                        <li>
                            <a href="#">2depth</a>
                        </li>
                        <li>
                            <a href="#">2depth</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">1depth</a>
                </li>
                <li>
                    <a href="#">1depth</a>
                </li>
                <li>
                    <a href="#">1depth</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <nav class="nav">
                <!-- a태그 활성시 class act 추가 -->
                <a href="#" class="act">메뉴1</a>
                <a href="#">메뉴2</a>
                <a href="#">메뉴3</a>
            </nav>
            <section class="section_filter">
                <div class="container">
                    <div class="fiter">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et reiciendis nostrum quae,
                            veritatis soluta quidem blanditiis corporis? Repellat eos mollitia praesentium laudantium.
                            Explicabo, praesentium quisquam ducimus harum eum similique doloribus?
                        </p>
                    </div>
                    <div class="button_wrap">
                        <button class="button">디폴트 버튼</button>
                        <button class="button primary">강조버튼</button>
                        <button class="button secondary">강조버튼</button>
                    </div>
                </div>
                <!--//container-->
            </section>
            <!--//section_filter-->
            <section class="content" style="margin-top: 50px">
                <div class="container">
                    <ul class="nav_tabs">
                        <li class="tabs active" data-tab="tab1"><a href="#">Tab 1</a></li>
                        <li class="tabs" data-tab="tab2"><a href="#">Tab 2</a></li>
                        <li class="tabs" data-tab="tab3"><a href="#">Tab 3</a></li>
                    </ul>
                    <div class="tab_area">
                        <div id="tab1" class="tab_content target">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos, commodi
                                eius dolores amet velit ipsam blanditiis
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos, commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos, commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?quibusdam facilis molestias harum. Provident at
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos, commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos, commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?
                                quaerat voluptate corrupti aliquid saepe?</p>
                        </div>
                        <div id="tab2" class="tab_content">
                            <p>tab 2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos,
                                commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?</p>
                        </div>
                        <div id="tab3" class="tab_content">
                            <p>tab 3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod expedita non quos,
                                commodi
                                eius dolores amet velit ipsam blanditiis quibusdam facilis molestias harum. Provident at
                                quaerat voluptate corrupti aliquid saepe?</p>
                        </div>
                    </div>

                </div>
            </section>

        </main>
        <!--//main-->
    </div>
    <!--//wrap-->

</body>
<script src="admin.js"></script>

</html>